<a href="https://colab.research.google.com/github/yejin-park/MachineLearning/blob/main/Dacon_Lv1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-09-10 08:54:09--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-09-10 08:54:09--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 142.250.153.101, 142.250.153.138, 142.250.153.100, ...
Connecting to drive.google.com (drive.google.com)|142.250.153.101|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/64kg2ajnb8ansn1qotel8gihvc4kqffl/1631264025000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-09-10 08:54:11--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/64kg2ajnb8ansn1qotel8gihvc4kqffl/1631264025000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 173.194.79.132, 2a00:1450:4013:c05::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|173.194.79.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.001s

2021-09-10 08:54:11 (40.8 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 라이브러리 불러오기 import
---

In [58]:
# Pandas 와 Scikit-learn 라이브러리를 불러오세요
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

## 데이터 불러오기 read_csv
---

In [59]:
# train.csv 와 test.csv 를 DataFrame 클래스로 불러오세요
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## 데이터 정보 관찰하기 head()

---

In [60]:
# head() 를 사용해 데이터 정보를 관찰하세요
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [61]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

## 데이터 행열 갯수 관찰 shape

1.   마지막 .shape만 인식()
2.   shape 뒤 ()괄호없음




---

In [62]:
# shape 를 사용해 데이터 크기를 관찰하세요
print("===== train.shape ===== \n ")
train.shape
print("\n\n ===== test.shape ===== \n")
test.shape

===== train.shape =====



 ===== test.shape =====

(715, 10)

In [63]:
print("===== train.shape ===== \n ")
train.shape

===== train.shape =====

(1459, 11)

In [64]:
print("\n\n ===== test.shape ===== \n")
test.shape

 ===== test.shape =====

(715, 10)

## 결측치 확인 info()
---

In [67]:
# info() 를 사용해 결측치가 있는지 확인하세요.
print("===== train.info() ===== \n ")
train.info()
print("\n\n ===== test.info() ===== \n")
test.info()

===== train.info() =====

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1328 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1328 non-null   int64
 1   hour                    1328 non-null   int64
 2   hour_bef_temperature    1328 non-null   float64
 3   hour_bef_precipitation  1328 non-null   float64
 4   hour_bef_windspeed      1328 non-null   float64
 5   hour_bef_humidity       1328 non-null   float64
 6   hour_bef_visibility     1328 non-null   float64
 7   hour_bef_ozone          1328 non-null   float64
 8   hour_bef_pm10           1328 non-null   float64
 9   hour_bef_pm2.5          1328 non-null   float64
 10  count                   1328 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 124.5 KB


 ===== test.info() =====

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

## 결측치 전처리 (제거 / 대체 / 갯수확인)

*   isnull : 결측값 True(1) / 결측값X False(0)
*   dropna() :
*   isnull().sum() 용도 : 


---

In [68]:
# dropna() 를 사용해 train 데이터는 결측치를 제거하고
# fillna() 를 사용해 test 데이터 결측치는 0 으로 대체하세요.
# 그리고 결측치의 갯수를 출력하여 확안하세요.

train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

## 모델 훈련 _ DecisionTreeRegressor() & fit()

> count 피쳐를 뺀 것 & 피쳐만을 가진것


---

In [69]:
# train 데이터의 count 피쳐를 뺀 것을 X_train 으로 할당하세요.
X_train = train.drop(['count'], axis=1)
# train 데이터의 count 피쳐만을 가진 것을 Y_train 으로 할당하세요.
Y_train = train['count']
# 회귀의사결정나무를 선언## 하고 fit() 으로 훈련시키세요.
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

## 테스트 파일 예측
---

In [72]:
# predict() 을 이용해 test data 를 훈련한 모델로 예측한 data array 를 생성하세요.

pred = model.predict(test)

## submission 파일 생성
---

In [75]:
# submission.csv 를 불러오세요.
submission = pd.read_csv('data/submission.csv')

# submission df 의 count 피쳐에 예측한 결과를 덧입히세요.
submission['count'] = pred

# submission df 를 to_csv() 를 이용해 csv 을 생성하세요. *index=False) 
submission.to_csv('sub.csv', index=False)