<a href="https://colab.research.google.com/github/yejin-park/MachineLearning/blob/main/%EB%B2%84%EC%8A%A4%EC%9A%B4%ED%96%89%EC%8B%9C%EA%B0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#버스 운행시간 데이터를 활용할 데이터 분석

*   버스가 다음 정류장에 도착하기 위해서 걸릴 시간을 예측

#1. Library & Data

> folium : 지리정보 시각화 패키지

In [ ]:
import pandas as pd #판다스 패키지 불러오기
import lightgbm as lgb
import folium  # 지리정보 시각화 패키지

In [2]:
#데이터 불러오기
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/bus/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/bus/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/bus/submission.csv')

#2. EDA

In [3]:
train.head()

   id        date   route_id  ...  next_latitude next_longitude  next_arrive_time
0   0  2019-10-15  405136001  ...      33.457724     126.554014                24
1   1  2019-10-15  405136001  ...      33.458783     126.557353                36
2   2  2019-10-15  405136001  ...      33.459893     126.561624                40
3   3  2019-10-15  405136001  ...      33.484860     126.542928                42
4   4  2019-10-15  405136001  ...      33.485822     126.490897                64

[5 rows x 14 columns]


*   route_id : 버스 노선 ID
*   vh_id : 버스 ID
*   route_nm : 버스 노선 실제 번호
*   now_latitude / now_longitude : 현재 정류소의 위도 / 경도
*   now_station : 현재 정류소 이름
*   now_arrive_time : 현재 정류장에 도착한 시간

*   distance :  현재 정류장에서 다음 정류장까지 실제 이동한 거리
*   next_station / latitude / longitude : 다음정류장의 ~
*   next_arrive_time : [예측할 값] 다음 정류장에 도착할 때 까지 걸린 시간(단위:초)

In [4]:
test.head()

       id        date   route_id  ...  next_station next_latitude  next_longitude
0  210457  2019-10-29  405136001  ...         제대아파트     33.458783      126.557353
1  210458  2019-10-29  405136001  ...         제주대학교     33.459893      126.561624
2  210459  2019-10-29  405136001  ...       대림2차아파트     33.478850      126.488350
3  210460  2019-10-29  405136001  ...     연동대림1차아파트     33.480700      126.489933
4  210461  2019-10-29  405136001  ...         케이티앤지     33.482077      126.485355

[5 rows x 13 columns]

In [5]:
submission.head()

       id  next_arrive_time
0  210457                 0
1  210458                 0
2  210459                 0
3  210460                 0
4  210461                 0

In [6]:
train.date.min()

'2019-10-15'

In [7]:
train['date'].min()

'2019-10-15'

In [10]:
print(train['date'].min())

2019-10-15

In [12]:
print("train MIN ", train['date'].min())
print("train MAX ", train['date'].max())

print("test MIN ", test['date'].min())
print("test MAX ", test['date'].max())

train MIN  2019-10-15
train MAX  2019-10-28
test MIN  2019-10-29
test MAX  2019-11-05

train 데이터 -> test 데이터 기간 순

In [14]:
print(train.shape)
print(test.shape)
print(submission.shape)

(210457, 14)
(91774, 13)
(91774, 2)

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                210457 non-null  int64
 1   date              210457 non-null  object
 2   route_id          210457 non-null  int64
 3   vh_id             210457 non-null  int64
 4   route_nm          210457 non-null  object
 5   now_latitude      210457 non-null  float64
 6   now_longitude     210457 non-null  float64
 7   now_station       210457 non-null  object
 8   now_arrive_time   210457 non-null  object
 9   distance          210457 non-null  float64
 10  next_station      210457 non-null  object
 11  next_latitude     210457 non-null  float64
 12  next_longitude    210457 non-null  float64
 13  next_arrive_time  210457 non-null  int64
dtypes: float64(5), int64(4), object(5)
memory usage: 22.5+ MB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91774 entries, 0 to 91773
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               91774 non-null  int64
 1   date             91774 non-null  object
 2   route_id         91774 non-null  int64
 3   vh_id            91774 non-null  int64
 4   route_nm         91774 non-null  object
 5   now_latitude     91774 non-null  float64
 6   now_longitude    91774 non-null  float64
 7   now_station      91774 non-null  object
 8   now_arrive_time  91774 non-null  object
 9   distance         91774 non-null  float64
 10  next_station     91774 non-null  object
 11  next_latitude    91774 non-null  float64
 12  next_longitude   91774 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 9.1+ MB

!!! train & test 데이터 _ 결측값이 존재하지 않음 !!!

In [17]:
train.describe()

                  id      route_id  ...  next_longitude  next_arrive_time
count  210457.000000  2.104570e+05  ...   210457.000000     210457.000000
mean   105228.000000  4.052491e+08  ...      126.603687         85.380824
std     60753.847139  9.132404e+04  ...        0.123838         85.051170
min         0.000000  4.051360e+08  ...      126.473300          6.000000
25%     52614.000000  4.051365e+08  ...      126.524550         44.000000
50%    105228.000000  4.053201e+08  ...      126.551050         66.000000
75%    157842.000000  4.053201e+08  ...      126.650322        102.000000
max    210456.000000  4.053281e+08  ...      126.935188       2996.000000

[8 rows x 9 columns]

In [18]:
train[['route_id', 'vh_id']].drop_duplicates().groupby('route_id').count()

           vh_id
route_id
405136001     10
405136002      5
405136007      1
405136012      3
405136521      6
405136522     15
405320111      3
405320112      5
405320113      1
405320114      5
405320115      1
405320116      6
405320117      2
405320118      1
405320121      1
405320122      4
405320124      3
405320126      2
405320127      5
405328101     11
405328102     14

##folium.Map()